h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
}
address {
  font-style: normal;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
:root {
  --color-special-light: #ffffff;
  --main-bg-color: #2f303a;
  --secondary-bg-color: #f4f4fd;
  --footer-nav-color: #2e2f42;
  --footer-text: #e7e9fc;
  --logo-iris: #4d5ae5;
  --contacts-color: #434455;
  --accent-button: #404bbf;
  --light-slate: #8e8f99;
  --bg-color-footer-icon: rgba(255, 255, 255, 0.1);
  --modal-background: #fcfcfc;
  --input-border: rgba(33, 33, 33, 0.2);
  --input-color-text: rgba(117, 117, 117, 0.5);
  --input-policy-text: rgba(117, 117, 117, 1);
  --input-footer-border: rgba(255, 255, 255, 0.3);
}
body {
  background-color: var(--color-special-light);
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.02em;
  color: var(--contacts-color);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
  /* outline: 2px solid green; */
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  display: block;
}

/* ---------------- header -------------------------------------- */
.header {
  width: 100%;
  border-bottom: 1px solid var(--footer-text);
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
}
.header-nav > .header-list {
  display: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  color: var(--logo-iris);
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 76px;
}
.logo-text {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  color: var(--footer-nav-color);
  text-transform: uppercase;
  text-decoration: none;
}
.header-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 40px;
}
.nav-link {
  position: relative;
  display: block;
  padding: 24px 0;
  text-decoration: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--footer-nav-color);
  transition: color 250ms cubic-bezier(0.32, 0, 0.67, 0);
}
.nav-link:is(:hover, :focus) {
  color: var(--accent-button);
}
.active {
  color: var(--accent-button);
}
.active::after {
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--accent-button);
  position: absolute;
  bottom: -1px;
  border-radius: 2px;
}
.nav-link.active {
  color: var(--accent-button);
}
address {
  display: none;
}
.contacts {
  list-style: none;
  display: flex;
  align-items: center;
}
.contacts-link {
  text-decoration: none;
  color: var(--contacts-color);
  font-weight: 400;
  line-height: 1.5;
  transition: color 250ms cubic-bezier(0.32, 0, 0.67, 0);
}
.contacts-link:is(:hover, :focus) {
  color: var(--accent-button);
}
.contacts-mail {
  margin-right: 40px;
  text-transform: lowercase;
}
/* ------------------- mobile menu ------------ */
.mobile-menu {
  width: 32px;
  height: 22px;
  background-color: transparent;
  border: none;
}
.mobile-menu-icon {
  stroke: var(--footer-nav-color);
  width: 32px;
  height: 22px;
}

.header-menu {
  width: 100%;
  height: 100%;
  background-color: var(--color-special-light);
  position: fixed;
  top: 0;
  z-index: 1;
  padding-top: 24px;
  padding-bottom: 24px;
}
.header-menu-close {
  position: absolute;
  cursor: pointer;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  background-color: var(--footer-text);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-bottom: 32px;
  transition: background-color 250ms cubic-bezier(0.32, 0, 0.67, 0);
}
.icon-close {
  transition: fill 250ms cubic-bezier(0.32, 0, 0.67, 0);
}
.header-menu-close:is(:hover, :focus) {
  background-color: var(--accent-button);
}
.header-menu-close:is(:hover, :focus) .icon-close {
  fill: var(--color-special-light);
}
.header-menu-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 80px;
  margin-left: 40px;
  gap: 40px;
  color: var(--contacts-color);
}
.header-menu-item {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.nav-link-menu {
  list-style: none;
  text-decoration: none;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--footer-nav-color);
}
.menu-contacts {
  list-style: none;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 84px;
  margin-left: 40px;
  gap: 40px;
}
.menu-contacts-item {
  list-style: none;
  text-decoration: none;
  width: 100%;
}
.menu-contacts-link {
  text-decoration: none;
  color: var(--contacts-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  transition: color 250ms cubic-bezier(0.32, 0, 0.67, 0);
}
.menu-color-contacts {
  color: var(--accent-button);
}
.menu-contacts-mail {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-transform: lowercase;
}
.contacts-link {
}
.menu-social-list {
  display: flex;
  list-style: none;
  text-decoration: none;
  justify-content: space-around;
  height: 40px;
  margin-top: 48px;
}
.menu-social-item {
}
.menu-social-link {
  text-decoration: none;
  height: 40px;
  width: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.32, 0, 0.67, 0);
}
.menu-sl-color {
  background-color: var(--logo-iris);
  transition: background-color 250ms cubic-bezier(0.32, 0, 0.67, 0);
}
.social-icon-menu {
  fill: var(--color-special-light);
}
.menu-sl-color:is(:hover, :focus) {
  background-color: var(--accent-button);
}

/* ---------------footer------------- */

.footer {
  background-color: var(--footer-nav-color);
  padding: 96px 15px;
}
.footer-deco {
  display: flex;
  flex-direction: column;
  gap: 72px;
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  color: var(--color-special-light);
  text-transform: uppercase;
  text-decoration: none;
}
.footer-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--footer-text);
  width: 264px;
  margin-top: 16px;
}
.footer-logo-block {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  align-items: center;
}
.footer-logo-block > .logo {
  margin: 0 auto;
}
.footer-social-block {
  margin: 0 auto;
}
.footer-social {
  font-weight: 500;
  line-height: 1.5;
  color: var(--color-special-light);
  text-align: center;
}
.footer-s-list {
  display: flex;
  list-style: none;
  text-decoration: none;
  margin-top: 16px;
  gap: 16px;
}
.footer-s-link {
  text-decoration: none;
  height: 40px;
  width: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.32, 0, 0.67, 0);
}
.footer-s-icon {
  fill: var(--color-special-light);
}

.footer-s-link:is(:hover, :focus) {
  background-color: #31d0aa;
}
.footer-field {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  gap: 16px;
}
.form-submit {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer-input {
  width: 100%;
  height: 40px;
  border: 1px solid var(--input-footer-border);
  border-radius: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  padding-left: 16px;
  outline: transparent;
}
.footer-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-btn {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  width: 165px;
  height: 40px;
  color: var(--color-special-light);
  background: var(--logo-iris);
  cursor: pointer;
  border: none;
  padding: 8px 24px;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  gap: 16px;
  transition: background 250ms cubic-bezier(0.32, 0, 0.67, 0);
  text-align: center;
}
.footer-btn:is(:hover, :focus) {
  background: var(--accent-button);
}

.footer-btn > .icon-tlgrm {
  fill: var(--color-special-light);
}
/* --------------- gallery ----------- */

.portfolio {
  padding-bottom: 120px;
  padding-top: 96px;
}
.filter-list {
  list-style: none;
  text-decoration: none;
  display: flex;
  gap: 24px;
  margin-bottom: 72px;
  justify-content: center;
  flex-wrap: wrap;
}
.filter-btn {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background: #f4f4fd;
  border: none;
  border-radius: 4px;
  padding: 12px 24px;
  cursor: pointer;
  transition: color, box-shadow,
    background-color 250ms cubic-bezier(0.32, 0, 0.67, 0);
}
.filter-btn:is(:hover, :focus) {
  background-color: var(--accent-button);
  color: var(--color-special-light);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.gallery-item {
  transition: box-shadow 250ms cubic-bezier(0.32, 0, 0.67, 0);
}
.gallery-item:hover .magic-text {
  transform: translateY(0);
  transition: transform 250ms cubic-bezier(0.32, 0, 0.67, 0);
}
.gallery-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.magic-wrapper {
  position: relative;
  overflow: hidden;
}
.magic-text {
  position: absolute;
  top: 0;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-bg-color);
  background-color: var(--logo-iris);
  background-blend-mode: soft-light;
  padding: 40px 32px;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
  /* transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); */
}

.gallery-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.gallery-item:nth-child(n + 4) {
  margin-top: 24px;
}
.gallery-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--footer-nav-color);
  margin-bottom: 8px;
}
.gallery-text {
  line-height: 1.5;
  color: var(--contacts-color);
}
.gallery-card {
  padding: 32px 0 32px 16px;
  border: 1px solid var(--footer-text);
  border-top: none;
}

/* -------------------------- Hero ------------------------------------ */

.hero {
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      0deg,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../img/bg-mob-1.jpeg);
  background-color: var(--footer-nav-color);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 112px 0;
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        0deg,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../img/bg-mob-2.jpeg);
  }
}

.hero-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--color-special-light);
  width: 100%;
  text-align: center;
  text-transform: capitalize;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
}
.hero-btn {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-special-light);
  background: var(--logo-iris);
  cursor: pointer;
  border: none;
  padding: 16px 32px;
  border-radius: 4px;
  display: block;
  margin: 0 auto;
  transition: background 250ms cubic-bezier(0.32, 0, 0.67, 0);
}
.hero-btn:is(:hover, :focus) {
  background: var(--accent-button);
}
/* ---------- features -------------- */

.features-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}
.features-item {
  list-style: none;
  width: 100%;
}
.features-title {
  margin: 0 auto;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--footer-nav-color);
  text-align: center;
}
.features-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--contacts-color);
}

/* ------------ services ----------- */

.services {
  display: none;
  padding-bottom: 120px;
}
.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--footer-nav-color);
  margin-bottom: 72px;
  text-align: center;
}
.services-list {
  list-style: none;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
}

/*------------------ team ------------*/

.team {
  background: var(--secondary-bg-color);
  padding-top: 96px;
  padding-bottom: 128px;
}
.team-list {
  text-decoration: none;
  list-style: none;
  display: flex;
  /* ------m0-m1-------- */
  flex-direction: column;
  justify-content: space-between;
  gap: 72px;
}
.team-item {
  max-width: 264px;
  max-height: 428px;
  background: var(--color-special-light);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  margin: 0 auto;
}
.team-img {
  align-items: center;
}
.team-text {
  padding: 32px 16px;
}
.team-names {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--footer-nav-color);
  margin-bottom: 8px;
  text-align: center;
}
.team-prof {
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}
.social-list {
  display: flex;
  list-style: none;
  text-decoration: none;
  justify-content: space-between;
  height: 40px;
  gap: 24px;
}

.social-link {
  text-decoration: none;
  height: 40px;
  width: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  /* background-color: var(--logo-iris); */
}
.team-sl-color {
  background-color: var(--logo-iris);
  transition: background-color 250ms cubic-bezier(0.32, 0, 0.67, 0);
}

.social-icon {
  fill: var(--color-special-light);
}
.team-sl-color:is(:hover, :focus) {
  background-color: var(--accent-button);
}

/*------------------ Customers --------- */
.customers {
  padding-top: 96px;
  padding-bottom: 96px;
}
.customers-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 72px;
  column-gap: 16px;
  list-style: none;
  text-decoration: none;
  justify-content: center;
}
.customers-item {
  width: calc((100% - 16px) / 2);
}
.cust-beauty {
  width: 100%;
  height: 88px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--light-slate);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.32, 0, 0.67, 0);
}
.cust-icons {
  fill: var(--light-slate);
  transition: fill 250ms cubic-bezier(0.32, 0, 0.67, 0);
}
.cust-beauty:is(:hover, :focus) {
  border-color: var(--accent-button);
}
.cust-beauty:is(:hover, :focus) .cust-icons {
  fill: var(--accent-button);
}

/* -------------------modal--------------------------- */
.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.32, 0, 0.67, 0),
    visibility 250ms cubic-bezier(0.32, 0, 0.67, 0);
}

.modal {
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.32, 0, 0.67, 0);
  width: 392px;
  height: 586px;
  background-color: var(--modal-background);
  border-radius: 4px;
  padding: 72px 24px 24px 24px;
  color: var(--light-slate);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}
.modal-close {
  position: absolute;
  cursor: pointer;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  background-color: var(--footer-text);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  transition: background-color 250ms cubic-bezier(0.32, 0, 0.67, 0);
}
.icon-close {
  transition: fill 250ms cubic-bezier(0.32, 0, 0.67, 0);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal-close:is(:hover, :focus) {
  background-color: var(--accent-button);
}
.modal-close:is(:hover, :focus) .icon-close {
  fill: var(--color-special-light);
}
.modal-title {
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--footer-nav-color);
  margin-bottom: 16px;
}
.modal-field {
  margin-bottom: 8px;
}
.modal-label {
  display: block;
}
.modal-label,
.modal-comment {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate);
  margin-bottom: 4px;
}
.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid var(--input-border);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
}
.modal-input:focus {
  border-color: var(--logo-iris);
}
.modal-input:focus + .modal-icon {
  fill: var(--logo-iris);
}
.modal-input::placeholder,
.modal-textarea::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: var(--input-color-text);
}
.modal-textarea {
  display: block;
  margin-bottom: 16px;
  width: 100%;
  height: 120px;
  border: 1px solid var(--input-border);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 16px;
  padding-top: 8px;
  outline: transparent;
  resize: none;
}
.modal-textarea:focus {
  border-color: var(--logo-iris);
  fill: var(--logo-iris);
  transition: background-color 250ms cubic-bezier(0.32, 0, 0.67, 0);
}
.policy-link {
  list-style: none;
  text-decoration: underline;
  margin-left: 4px;
  color: var(--logo-iris);
}
.input-wrap {
  position: relative;
}
.modal-icon-person:hover {
  fill: var(--logo-iris);
  transition: fill 250ms cubic-bezier(0.32, 0, 0.67, 0);
}
.modal-icon-phone:hover {
  fill: var(--logo-iris);
  transition: fill 250ms cubic-bezier(0.32, 0, 0.67, 0);
}
.modal-icon-letter:hover {
  fill: var(--logo-iris);
  transition: fill 250ms cubic-bezier(0.32, 0, 0.67, 0);
}
.modal-icon-person {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--footer-nav-color);
}
.modal-icon-phone {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--footer-nav-color);
}
.modal-icon-letter {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--footer-nav-color);
}
.modal-submit {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.04em;
  color: var(--color-special-light);
  background: var(--logo-iris);
  cursor: pointer;
  border: none;
  width: 169px;
  min-height: 56px;
  padding: 16px 32px;
  border-radius: 4px;
  display: block;
  margin: 0 auto;
  margin-top: 24px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  text-align: center;
  /* margin-bottom: 24px; */
  /* align-items: center; */
}
.modal-submit:is(:hover, :focus) {
  color: var(--color-special-light);
  background: var(--accent-button);
  transition: transform 250ms cubic-bezier(0.32, 0, 0.67, 0);
}
.policy-text {
  box-sizing: border-box;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: var(--input-policy-text);
  display: flex;
}
.policy-text span {
  width: 16px;
  height: 16px;
  border: 1.25px solid var(--footer-nav-color);
  border-radius: 2px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}
.modal-check:checked + .policy-text span {
  border: none;
  background-color: var(--logo-iris);
  fill: var(--secondary-bg-color);
}
.modal-check:focus + .policy-text span {
  border-color: var(--logo-iris);
}
@media screen and (min-width: 479px) {
  .container {
    width: 460px;
  }
  .header-nav > .header-list {
    display: none;
  }
  address {
    display: none;
  }
  .services {
    display: none;
  }
  .hero-title {
    width: 100%;
  }
  .customers-item {
    width: calc((100% - 16px) / 2);
  }
  .cust-beauty {
    width: 100%;
  }
  .modal {
    width: 392px;
    height: 586px;
  }
  .footer {
    padding: 96px 15px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
  .header-container {
    flex-direction: row;
    padding: 0 16px;
  }
  .header-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .header-nav > .header-list {
    display: block;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .logo {
    margin-right: 0;
  }
  .header-list {
    margin-left: 120px;
  }
  address {
    display: block;
  }
  .contacts {
    flex-direction: column;
    align-items: flex-end;
  }
  .contacts-link {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
  }
  .contacts-mail {
    margin-right: 0;
  }
  .header-menu,
  .menu-container,
  .mobile-menu {
    display: none;
  }
  /* hero */
  .hero {
    background-image: linear-gradient(
        0deg,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../img/hero-bg-tablet1.jpeg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          0deg,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../img/hero-bg-tablet2.jpeg);
    }
  }
  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    width: 496px;
    margin-bottom: 40px;
  }
  /* features tablet */
  .features-list {
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: 24px;
    row-gap: 72px;
  }
  .features-item {
    width: 356px;
  }
  .features-title {
    text-align: start;
  }
  .services {
    display: none;
  }
  /* customers tablet */
  .transform-version {
    width: 584px;
  }

  .customers-list {
    width: 100%;
  }
  .customers-item {
    width: calc((100% - 32px) / 3);
  }
  .cust-beauty {
    width: 100%;
  }
  /* team tablet */
  .team {
    padding-bottom: 104px;
  }
  .team-list {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    row-gap: 64px;
    column-gap: 24px;
    margin-right: 0;
    margin-left: 0;
  }
  .team-item {
    margin: 0;
  }
  .modal {
    width: 408px;
    height: 586px;
  }
  /* footer */
  .footer {
    padding: 96px 0;
  }
  .footer-deco {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
    padding-left: 108px;
  }
  .footer-logo-block {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    align-items: start;
    width: 264px;
  }
  .footer-logo-block > .logo {
    margin: 0;
  }
  .footer-social-block {
    width: 208px;
    margin: 0;
  }
  .footer-social {
    text-align: start;
  }
  .footer-field {
    width: 453px;
    margin: 0;
  }
  .form-submit {
    flex-direction: row;
    gap: 24px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
  }
  .header-container {
    flex-direction: row;
    padding: 0 16px;
  }

  .header-nav > .header-list {
    display: block;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .logo {
  }
  .header-list {
    margin-left: 76px;
  }
  address {
    display: block;
  }
  .contacts {
    flex-direction: row;
    align-items: flex-end;
  }
  .contacts-link {
    font-size: 16px;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }
  .contacts-mail {
    margin-right: 40px;
  }
  .header-nav {
    display: block;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  address {
    display: block;
  }
  /* hero */
  .hero {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--footer-nav-color);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 188px 0;
    background-image: linear-gradient(
        0deg,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../img/people-office.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          0deg,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../img/people-office-2x.jpeg);
    }
  }
  /* features desk */
  .features-list {
    flex-wrap: nowrap;
    flex-direction: row;
    column-gap: 24px;
  }
  .features-item {
    width: 264px;
  }
  .features-item::before {
    display: block;
    content: "";
    height: 112px;
    border-radius: 4px;
    background-color: var(--secondary-bg-color);
    background-size: 64px 64px;
    background-repeat: no-repeat;
    background-position: center;
  }
  .icon-antenna::before {
    background-image: url(../img/antenna.svg);
  }
  .icon-clock::before {
    background-image: url(../img/clock.svg);
  }
  .icon-diagram::before {
    background-image: url(../img/diagram.svg);
  }
  .icon-astronaut::before {
    background-image: url(../img/astronaut.svg);
  }
  .features-title {
    text-align: start;
    margin: 8px auto;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
  .features-text {
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-top: 8px;
  }
  .services {
    display: block;
  }
  /* customers desk */
  .customers {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .customers-list {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .cust-beauty {
    width: 168px;
    height: 88px;
  }
  /* team desk */
  .team {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .team-list {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 24px;
    margin: 0 auto;
  }
  /* footer */
  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .footer-deco {
    flex-direction: row;
    padding: 0;
    gap: 80px;
  }
  .footer-logo-block {
    margin-right: 40px;
  }
  .footer-text {
    font-size: 16px;
  }
  .modal {
    width: 408px;
    height: 584px;
  }
}
